.acordeon{
    width:90%;
    max-width: 20rem;
    padding: 2rem;
    display:flex;
    flex-wrap: wrap;
  
}

.bloque{
    width: 25%;
    margin:  1rem;
    padding:0.2rem;
    background: white;
    text-align: center;

}

.acordeon .h2{
    margin: 1rem;
    padding:1rem;
    cursor: pointer;
}

.acordeon .contenido{
    height: 0;
    padding:0rem;
    overflow: hidden;
    transition: all .5s ease;

}
.acordeon .bloque.activo .contenido{
    height: 4rem;
}

.acordeon__img {
    width: 180px;
    height: 30vh;
    background-color: white;
    padding: 10px;
}