.audio {
    width: 60%;
    margin: 0 auto;


}
audio {
    width: 60%;
    height: 5vh;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 40px;
    padding: 10px;  
}

