  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    color:black;

    height: 20vh;
    position: sticky;
    top:0;
    z-index: 10;
  }
  .header__logo {
    height: 20vh;
    width: 10%; 
    min-width: 100px;

  }
  
  nav {
    height: fit-content;
    margin-right: 40px;
  }
  li {
    display: inline;
    padding: 10px;
  }
  
