
.tabs{
    width: 90%;
    padding: 0 0 0 5em;
    margin: 0 auto;

}
.tabs .ul{
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.tabs .li{
    padding: 1em;
    margin:0 2em 0 0;
    transition: all .5s ease;
    cursor: pointer;
}
.tabs .li.activo{
    background-color: lightskyblue;
    color:white;
}
.tabs .subcontenedor{
    min-height: 10vh;
    width: 100%;
    position: relative;
}
.tabs .caja{
    margin: 0 auto;
    padding: 1em;
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(50%);
    transition: all .5s ease;
}
.tabs .caja.activo{
    opacity: 1;
    transform: translateY(0%);
}

.tabs img {
    width: 100%;
}