
.tabs{
    width: 90%;
    max-width: 120em;
    // background-color: lightgray;
    padding:1em;

}
.tabs .ul{
    width:100%;
    // background-color: lightblue;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.tabs .li{
    // background-color: lightgreen;
    padding: 1em;
    margin:0 2em 0 0;

    transition: all .5s ease;
    cursor: pointer;
}
.tabs .li.activo{
    background-color: lightskyblue;
    color:white;
}
.tabs .subcontenedor{
    min-height: 10vh;
    // background-color: lightsalmon;
    position: relative;
}
.tabs .caja{
    // background-color: lightseagreen;
    margin:1em;
    padding: 1em;
    position: absolute;

    opacity: 0;
    transform: translateY(50%);
    transition: all .5s ease;
}
.tabs .caja.activo{
    opacity: 1;
    transform: translateY(0%);
}